html,
body {
  background: #fff;
}

.brand-container {
  flex-shrink: 0;
  height: 150px;
  width: 150px;
  background: white;
  opacity: 0.8;
  border-radius: 50%;
  box-shadow: 0px 0px 50px white;
  display: flex;
  justify-content: center;
}

.control.password .svg-icon {
  visibility: hidden;
}

.control.password .invalid .svg-icon {
  visibility: visible;
}

.svg-icon {
  /* Default style for icons. */
  width: 24px;
  height: 24px;
  fill: black;
}

.svg-icon.warning {
  width: 18px;
  height: 18px;
  fill: orange;
}

.svg-icon.login {
  fill: white;
}
